<script language="javascript">
    //alert({{result}});

    /*
    if({{result}} == 0){
        alert("로그인 실패! (회원 아이디가 존재하지 않습니다.)")
    }else if({{result}} == 1){
        alert("로그인 실패! (패스워드가 맞지 않습니다.)")
    }else{
        alert("로그인 성공")
    }
    */

    switch({{result}}){
        case 0:
            alert("로그인 실패! (회원 아이디가 존재하지 않습니다.)")
            break;
        case 1:
            alert("로그인 실패! (패스워드가 맞지 않습니다.)")
            break;
        case 2:
            alert("로그인 성공")
    }
    location.href = "../../"  //location = 매우 중요한 javascript 함수 한번 알아보자
</script>

